body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin: 0;
}

body:focus{outline: none;}

#main-head-container{
    background-color: #b8eaf8;
    position: absolute;
}

#main-menu-bar{
    background-color: #0091B9;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: normal;
    position: absolute;
    display: inline;
    vertical-align: middle;
}

#main-menu-bar ul { 
    margin: 0; 
    padding: 0;
}

#main-menu-bar ul li {
    display:inline-block;
    margin-left: -5px;
	height: 50px;
}

#main-menu-bar a{
    display: block;
    border: none;
    height: 50px;
    color:white;
    background: #0091B9;
    font-size: 18px;
    cursor: pointer;
    line-height: 50px;
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: none;
}

#main-menu-bar a.active{background: #003864;}

#main-menu-bar a:hover {background: #003864;}

#main-head-text{
    top: 20%;
    position: relative;
}

#sub-head-text{
    top: 20%;
    position: relative;
}

#main-page-contents{
    position:absolute;
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    width:30%;
    top:350px;
    right:220px;

}

/* Drop down Nav Bar*/
.dropdown-content{
    display:none;
    position:absolute;
    z-index: 1;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
    min-width: 200px;
}

.show{
    display:block;
}

.dropdown-content a{
    line-height: 25px !important;
    font-size: 16px !important;
    font-weight:400;
    background-color: rgb(240, 240, 240) !important;
    color: black !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 30px !important;
}

.dropdown-content a:hover{
    background-color:rgb(197, 197, 197) !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/*Drop down 2*/
.dropdown-content-2{
    display:none;
    position:absolute;
    z-index: 1;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
    min-width: 200px;
}

.show-2{
    display:block;
}

.dropdown-content-2 a{
    line-height: 25px !important;
    font-size: 16px !important;
    font-weight:400;
    background-color: rgb(240, 240, 240) !important;
    color: black !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 30px !important;
}

.dropdown-content-2 a:hover{
    background-color:rgb(197, 197, 197) !important;
}

.dropdown-2 {
    position: relative;
    display: inline-block;
}
